.alert-info {
    display: flex;
    border: grey solid;
    background: aqua;
    justify-content: center;
    color: black;
    padding: .5em;





;
}
h1 {

    width: 500px;
    text-align: center;
    margin: 0 auto;
}
.nav-links {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    color: blue;




}
li {
    display: flex;
    margin: 5px;
    background-color: grey;
    list-style-type: none;
    box-sizing: content-box;
    justify-content:space-around;
    width: 100%






}
.header-img {
    display: flex;
    height: 900px;
    width: 400px;
    align-items: center;
}

body {
    padding: 10px;
    align-items: center;
}